= simple_form_for @hotel, html: {multipart: true} do |f|
 
  = f.input :title, label: "Hotel name"
  = f.input :breakfast_included, inline_label: "Breakfast included"
  = f.input :room_description, label: "Room description"
  = f.input :room_price, label: "Price"
  = f.input :image, :as => :file

  = f.simple_fields_for :address do |a|
    = a.input :country, :as => :string
    = a.input :state
    = a.input :city
    = a.input :street
    = f.button :submit